@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200&display=swap");
/* font-family: 'Nunito', sans-serif; */
.App {
  display: flex;
  /* margin: 0; */
  width:100%;
  /* justify-content: space-between; */
}
.sidebar {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 5.5rem;
  display: flex;
  flex-direction: column;
  background-color: #282b30;
  margin: 0;
  color: white;
}
.sidebar-icon {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  align-items: center;
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  color: rgba(74, 222, 128, 0.888);
  border-radius: 2rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.sidebar-icon:hover {
  border-radius: 0.75rem;
  color: white;
  background-color: rgb(22 163 74);
}
.Main-Tabs {
  display: flex;
  flex-direction: row;
}
.Friends-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 16rem; */
  align-items: center;
}
.chat-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 55rem;
  align-items: center;
}
.active-now {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20rem;
  border-left: 2px solid rgba(128, 0, 128, 0.214);
  align-items: center;
}
